.titlu{
background:red;
border-radius:0.5em;
}
.link{
text-decoration:none;
font-size:20;
color:black;
}
.titlu1{
padding-top:0.5em;
padding-left:0.3em;
padding-right:0.3em;
} 
.titlu2{
padding-top:0.5em;
padding-left:0.5em;
text-decoration:none;
font-size:25;
color:white;
}
.margine{
background:blue;
border-radius:0.5em;
}
.selectat{
color:FFFF66;
padding-top:0.5em;
padding-left:0.5em;
text-decoration:none;
font-size:25;
}